@import "../../app.scss";
.contactUs_container {
  form {
    padding: 30px 0;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    .name_field_textarea {
      position: relative;
      display: flex;
      width: 100%;
      margin-top: 20px;
      gap: 5%;
      textarea {
        height: 100%;
        width: 100%;
        border: 1px solid $black-color;
        border-radius: 10px;
        padding: 15px 45px 0px 15px;

        &:focus {
          outline: none !important;
          // border-color: #719ece;
          // box-shadow: 0 0 10px #719ece;
        }
      }
    }
    .name_field {
      position: relative;
      display: flex;
      width: 100%;
      margin-top: 20px;
      gap: 5%;
      height: 45px;

      input,
      select {
        height: 100%;
        width: 100%;
        border: 1px solid $black-color;
        border-radius: 10px;
        padding: 0 25px 0px 15px;

        &:focus {
          outline: none !important;
          // border-color: #719ece;
          // box-shadow: 0 0 10px #719ece;
        }
      }
    }
    .field {
      position: relative;
      height: 45px;
      width: 100%;
      margin-top: 20px;

      input,
      select {
        height: 100%;
        width: 100%;
        border: 1px solid $black-color;
        border-radius: 10px;
        padding: 0 55px 0px 15px !important;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &:focus {
          outline: none !important;
          // border-color: #719ece;
          // box-shadow: 0 0 10px #719ece;
        }
      }

      button {
        height: 100%;
        width: 100%;
        background: $black-color;
        color: $white-color;
        font-family: $montserrat-regular;
        border: 1px solid $black-color;
        border-radius: 10px;
      }

      .icon {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        font-size: 18px;
        color: $card-text;
        padding: 1px;
      }
      .icon_lock {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        font-size: 18px;
        color: $card-text;
        padding: 1px;
      }
    }
    .error_msg {
      color: $red-color;
      font-size: small;
      margin-top: 5px;
      margin-left: 10px;
      font-weight: bold;
    }
    .border_error {
      input,
      textarea,
      select {
        border: 1px solid $red-color;
      }
    }
    .rememberMe {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      color: $auth-text;
      .rememberCheckbox {
        display: flex;
        align-items: baseline;
        // gap: 8px;
        span {
          color: $btnbue-color;
        }
        .checkboxTC {
          margin-top: 3px;
        }
      }
      a {
        font-weight: 400;
        line-height: 20px;
        text-align: right;
        letter-spacing: 0.02em;
        color: $forgot-text;
      }
    }
  }
}
